<!DOCTYPE html>
<html>
<head>
  <title>StudioVange</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="studioVangeApp">

    <%= render 'layouts/partials/header' %>

    <div ng-view class="sv_main_view" ></div>

    <%= render 'layouts/partials/footer' %>

</body>
</html>
